<!-- registro_clientes.html -->
{% extends "base.html" %}

{% block title %}Registrar Clientes{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Registrar Clientes</h2>

    <form method="post" class="bg-white p-4 rounded shadow-sm">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la empresa:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese el nombre de la empresa">
        </div>

        <div class="mb-3">
            <label for="tipo_empresa" class="form-label">Tipo de Empresa:</label>
            <input type="text" id="tipo_empresa" name="tipo_empresa" class="form-control" placeholder="Ingrese el tipo de empresa">
        </div>

        <button type="submit" class="btn btn-primary w-100">Registrar</button>
    </form>
{% endblock %}
